.panel-body {
  min-height: 200px;
}

.table-inbox tr.unread {
  font-weight: 600;
}

.table-inbox tr > td:first-child {
  padding-left: 1.5rem
}

.table-inbox tr > td:last-child {
  padding-right: 1rem
}

/* scroll y modal  */
.mail-detail {
  height: 590px;
  overflow-y: scroll;
}

#mail-view-modal .note-editable {
  height: 200px !important;
}

/* Style the tab */
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #3498db;
  border-color: #3498db;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #3498db;
  border-color: #3498db;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}

.mail-contact .pagination > :first-child a {
  color: #5c6bc0;
  background-color: #e9ecef;
}

.mail-contact .pagination > :last-child a {
  color: #5c6bc0;
  background-color: #e9ecef;
}

.mail-contact .p-4 .disabled span {
  color: #5c6bc0 !important;
  background-color: #e9ecef !important;
}

.sidebar-mini .page-brand img {
  width: 0px !important;
}

/* set small day box of calendar summary */
.fc-basic-view .fc-body .fc-row {
  min-height: 1em !important;
}

.calendar-summary {
  width: 350px;
  height: auto;
}

/* .set small day box of calendar summary */

.calendar {
  width: 450px;
  height: auto;
}

.fc-unthemed .fc-event, .fc-unthemed .fc-event-dot {
  background-color: #ff4081;
  color: #fff !important;
}

.fc-sat {
  background-color: #f6e58d;
}

.fc-sun {
  background-color: #f0932b;
}

.header .admin-dropdown-menu {
  margin-top: -5px;
}

.header .admin-dropdown-menu .admin-menu-content {
  padding: 5px 30px 15px !important;
}

.fc-unthemed .fc-event .fc-content {
  padding: 0px !important;
  color: black;
}

.bg-yellow {
  background-color: #ffbe76 !important;
}

.bg-clouds {
  background-color: #ecf0f1 !important;
}

.bg-greenish {
  background-color: #b8e994 !important;
}

.bg-yarrow {
  background-color: #fdcb6e !important;
}

.bg-pink-glamour {
  background-color: #ff7675 !important;
}

.bg-peach {
  background-color: #f7d794;
}

.bg-city-lights {
  background-color: #dfe6e9;
}

.bg-asbestos {
  background-color: #7f8c8d;
}

.text-bg-blue {
  color: #0984e3;;
}

/* Style datatable scroll x */
th, td {
  white-space: nowrap;
}

div.dataTables_wrapper {
  width: 99%;
  margin: 0 auto;
}

/*.dataTables_wrapper .dataTables_paginate .paginate_button {*/
/*padding: 0.25em 0.75em !important;*/
/*!*color: #fff;*!*/
/*border-radius: 25px;*/
/*}*/

.current {
  background-color: #5c6bc0 !important;
  border-color: #5c6bc0 !important;
  color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: #5c6bc0 !important;
  border-color: #5c6bc0 !important;
  color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #5c6bc0 !important;
  color: #fff !important;
}

/*.dataTableHeader-w100 .dataTables_scrollHeadInner {*/
/*width: 100% !important;*/
/*}*/
/*.w-add-sidebar {*/
/*width: calc(100% + 160px) !important;*/
/*}*/

.mail_contact .pagination {
  float: right;
  margin-top: -20px;
  margin-right: 20px;
}

.numberCircle {
  border-radius: 50%;
  /* remove if you don't care about IE8 */
  width: 25px;
  height: 25px;
  margin-left: 10px;
  background: #fff;
  border: 2px solid #e74c3c;
  font: 15px Arial, sans-serif;
  margin-bottom: 0px;
}

.w-80 {
  width: 80% !important;
}