@media screen and (max-width: 574px) {
  #header a, #footer p {
    font-size: .9em !important;
  }

  h1 {
    font-size: 80px !important;
  }

  #header {
    height: 80px;
  }

  #menu li a {
    line-height: 60px;
    height: 60px;
  }

  .section {
    padding: 80px 0 0 0;
    text-align: center;
  }

  .section h1 {
    text-align: center !important;
    position: relative !important;
    margin: auto !important;
  }

  .section div {
    text-align: center !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
  }

  #section0 div {
    margin: 0 !important;
  }

  #section0 .section0,
  #section1 .section1,
  #section2 .section2,
  #section3 .section3,
    /*#section4 div,*/
  #section5 div,
  #section6 div {
    margin: 20px 0 0 0 !important;
  }

  #section0 .section0 {
    top: 25% !important;
  }

  .section img {
    width: 100vw !important;
    padding: 10px;
  }

  .arrow {
    width: 100%;
  }

  .arrow img {
    width: 15vw !important;
  }

  #info span {
    font-size: 40px !important;
  }

  #section0 div,
  #section1 div,
  #section2 div,
  #section3 div,
    /*#section4 div,*/
  #section5 div {
    top: 50% !important;
  }

  #section0 .arrow,
  #section1 .arrow,
  #section2 .arrow,
  #section3 .arrow {
    top: 85% !important;
  }

  #section1 .section1 {
    width: 100%;
    margin-top: -30% !important;
  }

  #section2 .section2 {
    margin-top: -30% !important;
  }

  #section3 .section3 {
    margin-top: -30% !important;
  }

  /*#section4 div {*/
  /*margin-top: -50% !important;*/
  /*}*/
  #section5 div {
    margin-top: -430px !important;
  }

  #section0,
  #section1,
  #section2,
  #section3,
    /*#section4,*/
  #section5,
  #section6 {
    background-size: cover;
  }

  #section4 {
    padding-top: 0px;
    height: auto !important;
    outline: 0;
    vertical-align: baseline;
  }

  #footer {
    background: url("../../../images/horserace/frontend/default/footer-bg.png");
    width: 100%;
    padding: 0 0 20px;
    border-top: 4px solid #ffd500;
    font-size: 12px;
  }

  #footer-area {
    margin: 0 auto;
  }

  #footer-menu {
    font-size: 12px;
    font-weight: bold;
    padding-left: 0px;
    display: grid;
  }

  #footer-menu li {
    height: 40px;
    border-bottom: 2px solid #ffd500;
    font-size: 12px;
  }

  #footer-menu li a {
    text-align: left;
    height: 40px;
    display: block;
    line-height: 42px;
    text-decoration: none;
    text-indent: 5px;
    color: #fff;
    font-weight: bold;
    background: url("../../../images/horserace/frontend/default/arrow.png") 99% center no-repeat;
    -webkit-background-size: 12px 21px;
  }

  #footer-menu li a:hover {
    background-color: #006ee9;
  }

  .footer-logo {
    margin: 10px auto;
    text-align: center;
  }

  address {
    color: #fff;
    text-align: center;
    margin-top: 20px;
  }

  .sp-nav {
    display: block;
    width: 57%;
  }

  .sp-nav a img {
    float: right;
    width: 35%;
  }
}

@media (max-width: 767.98px) and (min-width: 574px) {
  .sp-nav {
    display: block;
    width: 57%;
  }

  .sp-nav a img {
    float: right;
    width: 20% !important;
  }
}
