@charset "UTF-8";
@media screen and (min-width: 1025px) {
    /* Reset */
    * {
        margin: 0;
        padding: 0;
    }
    h5,
    h6,
    pre,
    table,
    code,
    kbd,
    samp,
    acronym,
    input,
    textarea,
    select {
        font-size: 100%;
    }
    a,
    ins {
        text-decoration: none;
    }
    address,
    em,
    cite,
    dfn,
    var {
        font-style: normal;
    }
    input,
    textarea {
        font-family: sans-serif;
        font-weight: normal;
    }
    img {
        vertical-align: bottom;
    }
    a img {
        border: none;
    }
    /* Setting */
    html {
        height: 100%;
        font-size: 14px;
        line-height: 18px;
    }
    body {
        height: 100%;
        color: #000;
        font-family: 'メイリオ', sans-serif, "ヒラギノ角ゴ ProN W3", "Meiryo", sans-serif;
        background: #fff
    }
    * html body {
        /* for IE6 */
        font-size: small;
    }
    *:first-child+html body {
        /* for IE7 */
        font-size: small;
    }
    ul {
        list-style-position: outside;
        list-style-type: none;
    }
    ol {
        list-style-position: outside;
    }
    table {
        border-collapse: collapse;
    }
    legend {
        color: #333;
    }
    .kari {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 24px;
    }
    /* ---------------------------------------------------------------------
set
--------------------------------------------------------------------- */
    a {
        text-decoration: underline;
        color: #fff;
    }
    a:hover {
        color: #aaa;
        text-decoration: none;
    }
    .clearfix:after {
        content: ".";
        display: block;
        height: 0.1px;
        font-size: 0.1em;
        line-height: 0;
        clear: both;
        visibility: hidden;
        overflow: hidden;
    }
    .center {
        text-align: center;
    }
    .right {
        text-align: right;
    }
    .fade a:hover img {
        opacity: 0.5;
        -webkit-opacity: 0.5;
        -moz-opacity: 0.5;
        filter: alpha(opacity=50);
        /* IE lt 8 */
        -ms-filter: "alpha(opacity=50)";
        /* IE 8 */
    }
    .fade a img {
        -webkit-transition: opacity 0.3s ease-out;
        -moz-transition: opacity 0.3s ease-out;
        -ms-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
    }
    .b {
        font-weight: bold;
    }
    .mt15 {
        margin-top: 15px;
    }
    /* ---------------------------------------------------------------------
none
--------------------------------------------------------------------- */
    .pc-none {
        display: none;
    }
    /* ---------------------------------------------------------------------
header
--------------------------------------------------------------------- */
    #main {
        margin: 0 auto;
    }
    #header {
        margin-bottom: 40px;
        width: 100%;
        padding: 20px 0;
        background: #fff;
        text-align: center;
        position: relative;
    }
    .login-btn {
        width: 150px;
        margin: 10px 10px 0 0;
        background: #ffb400;
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
    }
    .login-btn a {
        display: block;
        padding: 15px 10px;
        color: #000;
        text-decoration: none;
    }
    /* ---------------------------------------------------------------------
contents
--------------------------------------------------------------------- */
    #contents {
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }
    .bg01 {
        background: #fff;
        padding: 0 0 40px;
    }
    .bg02 {
        position: relative;
        width: 100%;
        padding: 40px 0 120px;
    }
    .human {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .bg03 {
        background: #000;
    }
    .bg04 {
        background: #fff;
        padding: 40px 0;
    }
    .bg05 {
        background: url("../../images/channel/bg02.jpg") no-repeat;
        background-size: cover;
        padding: 50px 0;
    }
    .bg06 {
        background: url("../../images/channel/bg03.jpg") no-repeat;
        background-size: cover;
        padding: 100px 0;
    }
    .bg07 {
        background: #fff;
        padding: 100px 0;
    }
    .bg08 {
        background: #000;
        padding: 100px 0;
        margin-bottom: 150px;
        position: relative;
    }
    .bg08:after {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: auto;
        content: '';
        width: 0;
        height: 0;
        border-left: 500px solid transparent;
        border-right: 500px solid transparent;
        border-top: 100px solid #000;
    }
    .bg09 {
        background: url("../../images/channel/bg04.jpg") no-repeat;
        background-size: cover;
        padding: 100px 0;
    }
    .form {
        text-align: center;
        margin: 0 auto;
        padding: 15px 0;
        background: url("../../images/channel/form.jpg") no-repeat;
        background-size: cover;
        padding: 40px 0;
    }
    .form-area {
        margin: 0 auto;
        width: 1000px;
    }
    .form-txt {
        margin: 0 auto;
        color: #fff;
        font-size: 16px;
        line-height: 26px;
    }
    .form-txt input {
        border: 0;
        border-radius: 5px;
        width: 900px;
        padding: 15px 15px;
        font-size: 16px;
        margin-top: 10px;
    }
    .f-com {
        margin: 20px 0;
        text-shadow: 1px 1px 0px #000;
    }
    .f-com02 {
        margin: 20px 0;
        text-align: left;
        text-shadow: 1px 1px 0px #000;
    }
    .form02-txt {
        margin: 0 auto;
        color: #fff;
        font-size: 16px;
        line-height: 26px;
    }
    .form02-txt input {
        border: 0;
        border-radius: 5px;
        width: 900px;
        padding: 15px 15px;
        font-size: 16px;
        margin-top: 10px;
    }
    .title {
        background: #000;
        color: #fff;
        text-align: center;
        padding: 30px 0;
        font-size: 30px;
    }
    @keyframes vertical {
        0%,
        100% {
            -webkit-transform: scale(0.8)
        }
        50% {
            -webkit-transform: scale(1.0)
        }
    }
    .btn {
        animation: vertical ease-in-out infinite alternate;
        animation-duration: 1.8s;
        text-align: center;
        margin: 5px 0;
        width: 100%;
    }
    .pass {
        width: 700px;
        margin: 0 auto;
        text-align: left;
        line-height: 26px;
        text-shadow: 1px 1px 0px #000;
    }
    .text-area {
        width: 900px;
        margin: 30px auto;
        font-size: 16px;
        line-height: 26px;
    }
    .text-area02 {
        width: 900px;
        margin: 30px auto;
        font-size: 16px;
        line-height: 26px;
        text-align: left;
    }
    /* ----------------------------------------------------
お問い合わせ
---------------------------------------------------- */
    #contact {
        background: url("../../images/channel/contact-bg.jpg") no-repeat top #000;
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        color: #fff;
        text-shadow: 2px 1px 0px #000;
        padding: 230px 50px 50px;
    }
    .info a {
        color: #283AFF;
    }
    .info textarea {
        width: 98%;
        height: 300px;
        padding: 1%;
        margin: 10px auto;
    }
    #trans table {
        width: 100%;
        border: #bababa 1px solid;
        background-color: #fff;
        margin: 4px auto;
        color: #000;
    }
    #trans th {
        width: 200px;
        height: 22px;
        text-align: center;
        padding: 10px;
        border: #bababa 1px solid;
        font-weight: normal;
        background: #ddd;
    }
    #trans td {
        padding: 10px;
        height: 22px;
        text-align: left;
        border: #bababa 1px solid;
    }
    .login-btn2 {
        margin: 10px auto;
        text-align: center;
        background: url("../../images/channel/arrow-b.svg") no-repeat 98% #ffb400;
        background-size: 10px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 8px;
        color: #000;
        padding: 20px 0;
        line-height: 22px;
        border: 2px solid #fff;
        cursor: pointer;
        text-decoration: none;
        width: 90%;
    }
    .login-btn2:hover {
        background: url("../../images/channel/arrow-w.svg") no-repeat 98% #333;
        background-size: 10px;
        color: #fff;
    }
    .login-btn2 a {
        color: #000;
        text-decoration: none;
    }
    @keyframes cal {
        0% {
            transform: translateY(-30px);
        }
        100% {
            transform: translateY( 0px);
        }
    }
    .top-ar {
        animation: cal ease-in-out infinite alternate;
        text-align: center;
        padding: 10px 0;
    }
    .top-ar {
        animation-duration: 1.0s
    }
    .top-ar img {
        width: 850px;
    }
    /* ---------------------------------------------------------------------
Footer
--------------------------------------------------------------------- */
    #page-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    #footer {
        margin: 0;
        width: 100%;
        text-align: center;
        background: #000;
        color: #fff;
    }
    .footer-area {
        margin: 0 auto;
        width: 1000px;
        text-align: left;
    }
    .footer-logo {
        float: left;
        width: 250px;
    }
    .footer-logo img {
        width: 250px;
        height: auto;
    }
    .footer-com {
        float: left;
        margin: 16px 0 0 5px;
        width: 730px;
    }
    #footer-menu {
        display: table;
        table-layout: fixed;
        text-align: center;
        width: 100%;
        font-size: 14px;
    }
    #footer-menu li {
        display: table-cell;
        vertical-align: middle;
    }
    #footer-menu li a {
        color: #fff;
        display: block;
        text-decoration: none;
        padding: 20px 0;
    }
    #footer-menu li a:hover {
        background-color: #333;
    }
    address {
        margin: 0px auto;
        padding: 20px 0;
        text-align: center;
    }
}